In [1]:
# 1. Write a code to reverse a string.

txt = input("Enter a string : ")
reverse_string = txt[::-1]
print(reverse_string)

Enter a string : Hello World
dlroW olleH

In [2]:
# 2. Write a code to count the number of vowels in a string.

string = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
for char in string:
  if char in vowels:
    count += 1
print("Number of vowels:", count)

Enter a string: Hello World
Number of vowels: 3

In [3]:
# 3.Write a code to check if a given string is a palindrome or no

txt = input("Enter a string:")
reverse_string = txt[::-1]
if txt == reverse_string:
  print("It is a palindrome")
else:
  print("It is not a palindrome")

Enter a string:madam
It is a palindrome

In [4]:
# 4.  Write a code to check if two given strings are anagrams of each other

txt1 = input("Enter a string :")
txt2 = input("Enter a string :")

if sorted(txt1) == sorted(txt2):
  print("It is an anagram")
else:
  print("It is not an anagram")

Enter a string :night
Enter a string :thing
It is an anagram

In [5]:
# 5.  Write a code to find all occurrences of a given substring within another string

test_str = input("Enter a string :")
sub_str = input("Enter a substring :")

for i in range(len(test_str)):
  if test_str.startswith(sub_str,i):
    print(f"Found '{sub_str}' at index {i}")

Enter a string :Hello is a word in Hello World is string
Enter a substring :Hello
Found 'Hello' at index 0
Found 'Hello' at index 19

In [6]:
# 6.Write a code to perform basic string compression using the counts of repeated characters

def compress_string(string):
  compressed = ""
  count = 1
  for i in range(1, len(string)):
    if string[i] == string[i-1]:
      count += 1
    else:
      compressed += string[i-1]
      if count > 1:
        compressed += str(count)
      count = 1
  compressed += string[-1]
  if count > 1:
    compressed += str(count)
  return compressed

string = input("Enter a string :")
compressed_string = compress_string(string)
print(compressed_string)

Enter a string :abbbaaaaaaccdaaab
ab3a6c2da3b

In [7]:
# 7.Write a code to determine if a string has all unique characters

def has_unique_characters(string):
  char_set = set()
  for char in string:
    if char in char_set:
      return False
    char_set.add(char)
  return True

string = input("Enter a string :")
if has_unique_characters(string):
  print("All characters are unique")
else:
  print("String has duplicate characters")

Enter a string :Riya Tyagi
String has duplicate characters

In [8]:
# 8.Write a code to convert a given string to uppercase or lowercase

string = input("Enter a string :")
print(string.upper())
print(string.lower())

Enter a string :Hello World
HELLO WORLD
hello world

In [9]:
# 9. Write a code to count the number of words in a string.

string = input("Enter a string :")
words = string.split()
print(len(words))

Enter a string :Hello , This is the code for counting the number of words in a string
15

In [10]:
# 10.Write a code to concatenate two strings without using the plus operator.

var1 = input("Enter a string :")
var2 = input("Enter a string :")
print(var1,var2)

Enter a string :Riya
Enter a string :Tyagi
Riya Tyagi

In [11]:
# 11.Write a code to remove all occurrences of a specific element from a list.

l = [11,13,53,"Pwskills","Riya",53,"Pwskills"]
l = list(filter(lambda a: a!= "Pwskills",l))
print(l)

[11, 13, 53, 'Riya', 53]

In [12]:
# 12. Implement a code to find the second largest number in a given list of integers
lis = [10, 20, 4, 45, 99]
lis.sort()
print("Second largest element is:", lis[-2])

Second largest element is: 45

In [13]:
# 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

lis1 = [11, 45, 8, 11, 23, 45, 23, 45, 89]
count = {}
for i in lis1:
  if i in count:
    count[i] += 1
  else:
    count[i] = 1
print(count)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [14]:
# 14.  Write a code to reverse a list in-place without using any built-in reverse functions.

lis2 = [10, 11, 12, 13, 14, 15]
print(lis2[::-1])

[15, 14, 13, 12, 11, 10]

In [16]:
# 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements

lst3 = [1,2,1,3,3,2,4,5,6,4]
new_lst = []
for i in lst3:
  if i not in new_lst:
    new_lst.append(i)
print(new_lst)

[1, 2, 3, 4, 5, 6]

In [18]:
# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

lst4 = [1,2,3,4,5,6,7,8,9]
if lst4 == sorted(lst4) or lst4 == sorted(lst4, reverse=True):
  print("List is sorted")
else:
  print("List is not sorted")

List is sorted

In [19]:
# 17. Write a code to merge two sorted lists into a single sorted list

lst5 = [1,2,3,4,5]
lst6 = [6,7,8,9,10]
lst7 = lst5 + lst6
lst7.sort()
print(lst7)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# 18.  Implement a code to find the intersection of two given lists.

lst8 = [1,2,3,4,5]
lst9 = [4,5,6,7,8]
lst10 = list(set(lst8) & set(lst9))
print(lst10)

[4, 5]

In [21]:
# 19. Create a code to find the union of two lists without duplicates.

lst11 = [1,2,3,4,5]
lst12 = [4,5,6,7,8]
lst13 = list(set(lst11) | set(lst12))
print(lst13)

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
# 20. Write a code to shuffle a given list randomly without using any built-in shuffle function

import random

def shuffle_list(lst):
  shuffled_lst = []
  while lst:
    index = random.randrange(len(lst))
    shuffled_lst.append(lst.pop(index))
  return shuffled_lst

my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list.copy())  # Create a copy to avoid modifying the original
print("Shuffled list:", shuffled_list)

Shuffled list: [5, 3, 1, 2, 4]

In [27]:
# 21.  Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples
def common_elements(tup1, tup2):
  return tuple(set(tup1) & set(tup2))
tup1 = (1,2,3,4,5)
tup2 = (4,5,6,7,8)
tup3 = tuple(set(tup1) & set(tup2))
print(tup3)

(4, 5)

In [28]:
# 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

s1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
s2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))
intersection = s1.intersection(s2)
print("Intersection of the two sets:", intersection)

Enter the first set of integers separated by commas: 1,2,3,4,5,6
Enter the second set of integers separated by commas: 4,5,6,7,8,9
Intersection of the two sets: {4, 5, 6}

In [29]:
# 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

def concatenate_tuples(tuple1, tuple2):
  new_tuple = tuple1 + tuple2
  return new_tuple

tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)
new_tuple = concatenate_tuples(tuple1, tuple2)
print(new_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [30]:
# 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

s1 = set(input("Enter the first set of strings separated by commas: ").split(','))
s2 = set(input("Enter the second set of strings separated by commas: ").split(','))
difference = s1.difference(s2)
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings separated by commas: 1,2,3,4,5,6,7
Enter the second set of strings separated by commas: 5,6,7,8,9,10,11
Elements in the first set but not in the second set: {'4', '2', '1', '3'}

In [31]:
# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
# containing elements from the original tuple within the specified range of indices

tup1 = (1,2,3,4,5,6,7,8,9,10)
start = int(input("Enter the start index: "))
end = int(input("Enter the end index: "))
new_tup = tup1[start:end+1]
print(new_tup)

Enter the start index: 3
Enter the end index: 7
(4, 5, 6, 7, 8)

In [34]:
# 26.  Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

s1 = set(input("Enter the first set of characters separated by commas: ").split(','))
s2 = set(input("Enter the second set of characters separated by commas: ").split(','))
union = s1.union(s2)
print("Union of the two sets:", union)

Enter the first set of characters separated by commas: One,Two,Three,Four
Enter the second set of characters separated by commas: Five,Six,Seven,Eight,Nine
Union of the two sets: {'Two', 'Five', 'Eight', 'Seven', 'Six', 'Three', 'One', 'Four', 'Nine'}

In [35]:
# 27.  Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

tup = input("Enter a tuple of integers separated by commas: ").split(',')
tup = tuple(map(int, tup))
max_value, min_value = max(tup), min(tup)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Enter a tuple of integers separated by commas: 23,25,36,24,67,35,46
Maximum value: 67
Minimum value: 23

In [40]:
# 28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
Union = s1.union(s2)
Intersection = s1.intersection(s2)
Difference = s1.difference(s2)
print("Union of the two sets:", Union)
print("Intersection of the two sets:", Intersection)
print("Difference of the two sets:", Difference)

Union of the two sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the two sets: {4, 5}
Difference of the two sets: {1, 2, 3}

In [41]:
# 29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

def count_occurrences(tup, element):
  count = 0
  for item in tup:
    if item == element:
      count += 1
  return count

tup = input("Enter a tuple of integers separated by commas: ").split(',')
tup = tuple(map(int, tup))
element = int(input("Enter an element to count its occurrences: "))
count = count_occurrences(tup, element)
print("Count of occurrences:", count)

Enter a tuple of integers separated by commas: 12,13,12,45,23,32,45,65,56
Enter an element to count its occurrences: 12
Count of occurrences: 2

In [42]:
# 30.  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

s1 = set(input("Enter the first set of strings separated by commas: ").split(','))
s2 = set(input("Enter the second set of strings separated by commas: ").split(','))
symmetric_difference = s1.symmetric_difference(s2)
print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings separated by commas: 1,2,3,4,5,6,7
Enter the second set of strings separated by commas: 4,5,8,9,10,11,12
Symmetric difference of the two sets: {'1', '8', '10', '2', '9', '12', '3', '6', '11', '7'}

In [43]:
# 31.  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
#and the values are the frequencies of those words in the input list

lis = list(input("Enter a list of words separated by commas: ").split(','))
word_freq = {}
for word in lis:
  if word in word_freq:
    word_freq[word] += 1
  else:
    word_freq[word] = 1
print("Word frequencies:", word_freq)

Enter a list of words separated by commas: Riya,Pwskills,Pwskills,Study,Pwskills,Riya
Word frequencies: {'Riya': 2, 'Pwskills': 3, 'Study': 1}

In [45]:
# 32.  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'c': 5, 'd': 6}

for key in dict2:
  if key in dict1:
    dict1[key] += dict2[key]
  else:
    dict1[key] = dict2[key]
print(dict1)

{'a': 1, 'b': 6, 'c': 8, 'd': 6}

In [47]:
# 33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
# keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
# function should return None

def access_nested_dict(nested_dict, keys):
  for key in keys:
    if key in nested_dict:
      nested_dict = nested_dict[key]
    else:
      return None
  return nested_dict

dict1 = {'a': {'b': {'c': 1}}}
keys = ['a', 'b', 'c']
value = access_nested_dict(dict1, keys)
print(value)

1

In [48]:
# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
# can choose whether to sort in ascending or descending order

def sort_dict_by_values(dictionary, ascending=True):
  sorted_dict = dict(sorted(dictionary.items(), key=lambda x: x[1], reverse=not ascending))
  return sorted_dict

dict1 = {'a': 3, 'b': 1, 'c': 2}
sorted_dict = sort_dict_by_values(dict1)
print(sorted_dict)

{'b': 1, 'c': 2, 'a': 3}

In [49]:
# 35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
# correctly handles cases where multiple keys have the same value by storing the keys as a list in the
# inverted dictionary.

def revert_a_dictionary(dictionary):
  inverted_dict = {}
  for key, value in dictionary.items():
    if value in inverted_dict:
      inverted_dict[value].append(key)
    else:
      inverted_dict[value] = [key]
  return inverted_dict

dict1 = {'a': 1, 'b': 2, 'c': 1}
inverted_dict = revert_a_dictionary(dict1)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b']}