**Theory Questions Examples**

Question no.1

In [ ]:
#Define a function
def factorial(n):
    return 1 if (n==1 or n==0) else n * factorial(n-1);

#Enter input
n = int(input("Enter input number : "))

print("The factorial of",n,"is",factorial(n))

Enter input number : 5
The factorial of 5 is 120

In [ ]:
#Define a Method
class Employee(object):
   def my_method(self):
      print("I am Riya")
name = Employee()
name.my_method()

I am Riya

Question 2.

In [ ]:
def add_func(a,b):
    sum = a + b
    return sum
num1 = int(input("Enter the value of the first number: "))
num2 = int(input("Enter the value of the second number: "))
print("Sum of two numbers: ",add_func(num1, num2))

Enter the value of the first number: 5
Enter the value of the second number: 2
Sum of two numbers:  7

Question 3.

In [ ]:
#Python abs() buit in Function Example

#  integer number
integer = -20
print('Absolute value of -40 is:', abs(integer))

#  floating number
floating = -20.83
print('Absolute value of -40.83 is:', abs(floating))

Absolute value of -40 is: 20
Absolute value of -40.83 is: 20.83

In [ ]:
# Python user defined function
# Declaring a function
def fun():
    print("Inside function")

# Driver's code
# Calling function
fun()

Inside function

In [ ]:
# Anonymus function
square = lambda a : a * a

Question 4

In [ ]:
# Python program to
# demonstrate return statement

def add(a, b):

    # returning sum of a and b
    return a + b

def is_true(a):

    # returning boolean of a
    return bool(a)

# calling function
res = add(2, 3)
print("Result of add function is {}".format(res))

res = is_true(2<5)
print("\nResult of is_true function is {}".format(res))

Result of add function is 5

Result of is_true function is True

Question 5.

In [ ]:
# code
s="GFG"
s=iter(s)
print(s)
print(next(s))
print(next(s))
print(next(s))

<str_iterator object at 0x7b899ebeec80>
G
F
G

Question 6.

In [ ]:
# A generator function that yields 1 for first time,
# 2 second time and 3 third time
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3

# Driver code to check above generator function
for value in simpleGeneratorFun():
    print(value)

1
2
3

In [ ]:
# A Python program to demonstrate use of
# generator object with next()

# A generator function
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3

# x is a generator object
x = simpleGeneratorFun()

# Iterating over the generator object using next

# In Python 3, __next__()
print(next(x))
print(next(x))
print(next(x))

1
2
3

Question 7

In [ ]:
#Example:

#Using a regular function:
def get_squares(n):
    squares = []
    for i in range(n):
        squares.append(i * i)
    return squares

print(get_squares(5))  # Output: [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [ ]:
# Using a generator:
def generate_squares(n):
    for i in range(n):
        yield i * i

for square in generate_squares(5):
    print(square)  # Output: 0 1 4 9 16 (one by one)

0
1
4
9
16

Question 8

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x * x, numbers)
print(list(squared))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
sum_of_numbers = reduce(lambda x, y: x + y, numbers)
print(sum_of_numbers)  # Output: 15

15

Question 9

In [ ]:
# Using a Lambda Function with map()
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x * x, numbers)
print(list(squared_numbers))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
# Using map() with Multiple Iterables
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
def add(x, y):
    return x + y

summed_numbers = map(add, numbers1, numbers2)
print(list(summed_numbers))  # Output: [5, 7, 9]

[5, 7, 9]

Question 10

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Step 1: Filter even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even numbers",even_numbers)

# Step 2: Square the even numbers
squared_evens = list(map(lambda x: x * x, even_numbers))
print("Squared evens",squared_evens)

# Step 3: Sum the squared even numbers
sum_of_squares = reduce(lambda x, y: x + y, squared_evens)

print("Sum of Squares",sum_of_squares)  # Output: 220

Even numbers [2, 4, 6, 8, 10]
Squared evens [4, 16, 36, 64, 100]
Sum of Squares 220

Q.11

In [ ]:
from functools import reduce

# The list to sum up
numbers = [47, 11, 42, 13]

# Step 1: Start with the first two elements
# 47 + 11 = 58

# Step 2: Take the result (58) and add the next element (42)
# 58 + 42 = 100

# Step 3: Take the result (100) and add the last element (13)
# 100 + 13 = 113

# The lambda function for summing two numbers
result = reduce(lambda x, y: x + y, numbers)

print(result)  # Output: 113

113

Wriitten question by pen and paper

## Practical Questions**

Question 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [ ]:
def sum_of_even_numbers(numbers):
    # Filter the even numbers and sum them up
    even_sum = sum(filter(lambda x: x % 2 == 0, numbers))
    return even_sum

# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = sum_of_even_numbers(numbers)
print(result)

30

Question 2: Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse_string(input_string):
    # Reverse the string using slicing
    reversed_string = input_string[::-1]
    return reversed_string

# Example usage:
example_string = "Hello, World!"
result = reverse_string(example_string)
print(result)  # Output: "!dlroW ,olleH"

!dlroW ,olleH

Question 3 . Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
def square_numbers(numbers):
    # Use a list comprehension to square each number
    squared_numbers = [x * x for x in numbers]
    return squared_numbers

# Example usage:
numbers = [1, 2, 3, 4, 5]
result = square_numbers(numbers)
print(result)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

Question 4 :  Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True  # 2 is the only even prime number
    if n % 2 == 0:
        return False  # All other even numbers are not prime
    for i in range(3, int(n**0.5) + 1, 2):
        if n % i == 0:
            return False
    return True

# Example usage: Check for prime numbers from 1 to 200
for number in range(1, 201):
    if is_prime(number):
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")

1 is not a prime number.
2 is a prime number.
3 is a prime number.
4 is not a prime number.
5 is a prime number.
6 is not a prime number.
7 is a prime number.
8 is not a prime number.
9 is not a prime number.
10 is not a prime number.
11 is a prime number.
12 is not a prime number.
13 is a prime number.
14 is not a prime number.
15 is not a prime number.
16 is not a prime number.
17 is a prime number.
18 is not a prime number.
19 is a prime number.
20 is not a prime number.
21 is not a prime number.
22 is not a prime number.
23 is a prime number.
24 is not a prime number.
25 is not a prime number.
26 is not a prime number.
27 is not a prime number.
28 is not a prime number.
29 is a prime number.
30 is not a prime number.
31 is a prime number.
32 is not a prime number.
33 is not a prime number.
34 is not a prime number.
35 is not a prime number.
36 is not a prime number.
37 is a prime number.
38 is not a prime number.
39 is not a prime number.
40 is not a prime number.
41 is a prime number.
42 is not a prime number.
43 is a prime number.
44 is not a prime number.
45 is not a prime number.
46 is not a prime number.
47 is a prime number.
48 is not a prime number.
49 is not a prime number.
50 is not a prime number.
51 is not a prime number.
52 is not a prime number.
53 is a prime number.
54 is not a prime number.
55 is not a prime number.
56 is not a prime number.
57 is not a prime number.
58 is not a prime number.
59 is a prime number.
60 is not a prime number.
61 is a prime number.
62 is not a prime number.
63 is not a prime number.
64 is not a prime number.
65 is not a prime number.
66 is not a prime number.
67 is a prime number.
68 is not a prime number.
69 is not a prime number.
70 is not a prime number.
71 is a prime number.
72 is not a prime number.
73 is a prime number.
74 is not a prime number.
75 is not a prime number.
76 is not a prime number.
77 is not a prime number.
78 is not a prime number.
79 is a prime number.
80 is not a prime number.
81 is not a prime number.
82 is not a prime number.
83 is a prime number.
84 is not a prime number.
85 is not a prime number.
86 is not a prime number.
87 is not a prime number.
88 is not a prime number.
89 is a prime number.
90 is not a prime number.
91 is not a prime number.
92 is not a prime number.
93 is not a prime number.
94 is not a prime number.
95 is not a prime number.
96 is not a prime number.
97 is a prime number.
98 is not a prime number.
99 is not a prime number.
100 is not a prime number.
101 is a prime number.
102 is not a prime number.
103 is a prime number.
104 is not a prime number.
105 is not a prime number.
106 is not a prime number.
107 is a prime number.
108 is not a prime number.
109 is a prime number.
110 is not a prime number.
111 is not a prime number.
112 is not a prime number.
113 is a prime number.
114 is not a prime number.
115 is not a prime number.
116 is not a prime number.
117 is not a prime number.
118 is not a prime number.
119 is not a prime number.
120 is not a prime number.
121 is not a prime number.
122 is not a prime number.
123 is not a prime number.
124 is not a prime number.
125 is not a prime number.
126 is not a prime number.
127 is a prime number.
128 is not a prime number.
129 is not a prime number.
130 is not a prime number.
131 is a prime number.
132 is not a prime number.
133 is not a prime number.
134 is not a prime number.
135 is not a prime number.
136 is not a prime number.
137 is a prime number.
138 is not a prime number.
139 is a prime number.
140 is not a prime number.
141 is not a prime number.
142 is not a prime number.
143 is not a prime number.
144 is not a prime number.
145 is not a prime number.
146 is not a prime number.
147 is not a prime number.
148 is not a prime number.
149 is a prime number.
150 is not a prime number.
151 is a prime number.
152 is not a prime number.
153 is not a prime number.
154 is not a prime number.
155 is not a prime number.
156 is not a prime number.
157 is a prime number.
158 is not a prime number.
159 is not a prime number.
160 is not a prime number.
161 is not a prime number.
162 is not a prime number.
163 is a prime number.
164 is not a prime number.
165 is not a prime number.
166 is not a prime number.
167 is a prime number.
168 is not a prime number.
169 is not a prime number.
170 is not a prime number.
171 is not a prime number.
172 is not a prime number.
173 is a prime number.
174 is not a prime number.
175 is not a prime number.
176 is not a prime number.
177 is not a prime number.
178 is not a prime number.
179 is a prime number.
180 is not a prime number.
181 is a prime number.
182 is not a prime number.
183 is not a prime number.
184 is not a prime number.
185 is not a prime number.
186 is not a prime number.
187 is not a prime number.
188 is not a prime number.
189 is not a prime number.
190 is not a prime number.
191 is a prime number.
192 is not a prime number.
193 is a prime number.
194 is not a prime number.
195 is not a prime number.
196 is not a prime number.
197 is a prime number.
198 is not a prime number.
199 is a prime number.
200 is not a prime number.

Question 5 : Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [ ]:
class Fibonacci:
    def __init__(self, num_terms):
        self.num_terms = num_terms
        self.current_term = 0
        self.a = 0
        self.b = 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.current_term >= self.num_terms:
            raise StopIteration
        if self.current_term == 0:
            self.current_term += 1
            return self.a
        elif self.current_term == 1:
            self.current_term += 1
            return self.b
        else:
            self.current_term += 1
            next_value = self.a + self.b
            self.a, self.b = self.b, next_value
            return next_value

# Example usage:
fib_iterator = Fibonacci(10)
for num in fib_iterator:
    print(num)

0
1
1
2
3
5
8
13
21
34

Question 6 : Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def powers_of_two(max_exponent):
    for exponent in range(max_exponent + 1):
        yield 2 ** exponent

# Example usage:
for value in powers_of_two(5):
    print(value)

1
2
4
8
16
32

Question 7 :  Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

# Example usage:
# Assuming there's a file named 'example.txt' in the same directory
for line in read_file_line_by_line('example.txt'):
    print(line)

Hello, World!
This is a file.
With several lines.

Question 8 : Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:
# Sample list of tuples
tuples_list = [(1, 3), (4, 1), (2, 4), (3, 2)]

# Sort the list of tuples based on the second element of each tuple
sorted_tuples = sorted(tuples_list, key=lambda x: x[1])

# Example usage:
print(sorted_tuples)

[(4, 1), (3, 2), (1, 3), (2, 4)]

Question 9 : Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Sample list of temperatures in Celsius
celsius_temperatures = [0, 20, 37, 100]

# Convert the list of Celsius temperatures to Fahrenheit using map()
fahrenheit_temperatures = list(map(celsius_to_fahrenheit, celsius_temperatures))

# Example usage:
print(fahrenheit_temperatures)

[32.0, 68.0, 98.6, 212.0]

Question 10 :  Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [ ]:
def remove_vowels(input_string):
    # Define a function to check if a character is a vowel
    def is_not_vowel(char):
        return char.lower() not in 'aeiou'

    # Use filter to remove vowels
    filtered_chars = filter(is_not_vowel, input_string)

    # Join the filtered characters back into a string
    result_string = ''.join(filtered_chars)

    return result_string

# Example usage:
input_string = "Hello, World!"
result = remove_vowels(input_string)
print(result)

Hll, Wrld!

Question 11

In [ ]:
def calculate_order_values(orders):
  """Calculates the order values with an additional 10€ fee for smaller orders.

  Args:
    orders: A list of lists, where each inner list represents an order with
      elements: order number, book title, quantity, price per item.

  Returns:
    A list of tuples, each containing the order number and its calculated value.
  """

  # Create a lambda function to calculate the order value with the fee adjustment
  calculate_value = lambda order: (order[0], (order[2] * order[3]) + 10 if (order[2] * order[3]) < 100 else (order[2] * order[3]))

  # Use the map function to apply the calculation to each order
  return list(map(calculate_value, orders))

# Sample data from the prompt
orders = [
  [34587, "Learning Python, Mark Lutz", 4, 40.95],
  [98762, "Programming Python, Mark Lutz", 5, 56.80],
  [77226, "Head First Python, Paul Barry", 3, 32.95],
  [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Calculate the order values
results = calculate_order_values(orders)

print(results)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]