1.Discuss String slicing and providing examples

In [1]:
snack = "CHOCOLATE COOKIE."
print(snack[0])

C

In [2]:
print(snack[0:10])# index 10 is excleded.

CHOCOLATE

In [3]:
# Excess second last index using negative indexing
print(snack[-2])

E

2.Explain the key feature of lists in Python

In [4]:
# 1. Lists are ordered
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
print(a == b)
print(a is b)
print([1, 2, 3, 4] == [4, 1, 3, 2])

False
False
False

In [5]:
# 2.  Lists Can Contain Arbitrary Objects
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
a

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [6]:
# 3. List Elements Can Be Accessed by Index
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0])
print(a[5])
print(a[-1])
print(a[-6])

foo
corge
corge
foo

In [7]:
# 4. Lists Can Be Nested
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
print(x)
print(x[0],x[2],x[3])

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
a g ['hh', 'ii']

In [8]:
# 5. Lists Are Mutable
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

a[2] = 10
a[-1] = 20
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [9]:
# 6. Lists Are Dynamic
'''
When items are added to a list, it grows as needed:

'''

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:2] = [1, 2, 3]
a += [3.14159]
print(a)

['foo', 'bar', 1, 2, 3, 'baz', 'qux', 'quux', 'corge', 3.14159]

3. Describe how to access, modify, and delete elements in a list with examples.

In [10]:
# accessing elements of the list
colors = ['red', 'green', 'blue']
print(colors[0])
print(colors[1])
print(colors[2])

red
green
blue

In [11]:
# Modify elements of a list
colors = ['red', 'green', 'blue']
colors[0] = 'yellow'
print(colors)

z = [7,4,3,2]
z.append(3)
print(z)
z.remove(2)
print(z)
z.pop(1)
print(z)

['yellow', 'green', 'blue']
[7, 4, 3, 2, 3]
[7, 4, 3, 3]
[7, 3, 3]

In [12]:
# Deleting elements in a list
colors = ['red', 'green', 'blue']
del colors[0]  # Delete the first element
print(colors)

colors.remove('green')  # Remove the element with value 'green'
print(colors)

colors = ['red', 'green', 'blue']
colors.pop()  # Remove and return the last element
print(colors)

colors.clear()  # Remove all elements from the list
print(colors)

['green', 'blue']
['blue']
['red', 'green']
[]

4. Compare and contrast tuples and lists with examples.

In [13]:
# Creating a List with
# the use of Numbers
# code to test that lists are mutable
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("Original list ", List)

List[3] = 77
print("Example to show mutability ", List)

Original list  [1, 2, 4, 4, 3, 3, 3, 6, 5]
Example to show mutability  [1, 2, 4, 77, 3, 3, 3, 6, 5]

In [15]:
# code to test that tuples are immutable

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4 # will through an error
print(tuple1)

TypeError: 'tuple' object does not support item assignment

5. Describe the key features of sets and provide examples of their use.

In [17]:
# Sets are unordered
x = {1,2,3,4}
print(x)
y = {4,3,2,1}
print(y)

print(x == y) # give the output true because order does not matter

{1, 2, 3, 4}
{1, 2, 3, 4}
True

In [18]:
#Set elements are unique . Duplicate elements are not allowed

x = {1, 2, 3, 4, 3, 2}
print(x)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [19]:
# A set itself may be modified, but the elements contained in the set must be of an immutable type.


# Set elements must be immutable.
my_set = {1, 2, 3, "hello"}  # Valid set with immutable elements
print(my_set)

{1, 2, 3, 'hello'}

In [20]:
# Trying to include a list (mutable) in a set will raise an error
my_set = {1, 2, [3, 4]}  # This would cause a TypeError

TypeError: unhashable type: 'list'

In [21]:
# Example of modifying a set
my_set.add(5)
print(my_set)

my_set.remove("hello")
print(my_set)

{1, 2, 3, 5, 'hello'}
{1, 2, 3, 5}

6. Discuss the use cases of tuples and sets in python programming.

In [23]:
# Use Cases of Tuples:

# 1. Representing Fixed Collections: Tuples are ideal for representing collections of items that should not be changed after creation. Examples include:

# - Coordinates: (x, y, z)
# - RGB color values: (255, 0, 128)
# - Date components: (year, month, day)

# 2. Function Return Values: When a function needs to return multiple values, a tuple provides a convenient way to package them.

def get_user_info():
  name = "Alice"
  age = 30
  city = "New York"
  return name, age, city

user_info = get_user_info()
print(user_info)  # Output: ('Alice', 30, 'New York')

# 3. Dictionary Keys: Since tuples are immutable, they can be used as keys in dictionaries.

student_scores = {
  ("Alice", "Math"): 95,
  ("Bob", "Science"): 88,
  ("Charlie", "English"): 92
}

# 4. Sequence Unpacking: Tuples enable elegant unpacking of values into separate variables.

name, age, city = get_user_info()
print(name)  # Output: Alice

('Alice', 30, 'New York')
Alice

In [24]:
# Use Cases of Sets:

# 1. Removing Duplicates: Sets automatically eliminate duplicate elements, making them useful for cleaning up data.

numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)  # Output: {1, 2, 3, 4, 5}

# 2. Membership Testing: Sets provide efficient membership testing using the `in` operator.

if "apple" in {"apple", "banana", "orange"}:
  print("Found apple!")

# 3. Mathematical Set Operations: Sets support operations like union, intersection, difference, and more.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

intersection_set = set1 & set2
print(intersection_set)  # Output: {3}

# 4. Ensuring Uniqueness: When you need to store a collection of unique items, sets are the natural choice. For example, storing a list of usernames or email addresses.

{1, 2, 3, 4, 5}
Found apple!
{1, 2, 3, 4, 5}
{3}

7. Describe how to add, modify , and delete items in a dictionary with example

In [25]:
# Adding items to a dictionary:
# 1. Direct assignment:
my_dict = {}
my_dict['name'] = 'Alice'
my_dict['age'] = 30
print(my_dict)  # Output: {'name': 'Alice', 'age': 30}

# 2. Using the `update()` method:
my_dict.update({'city': 'New York', 'occupation': 'Software Engineer'})
print(my_dict)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Software Engineer'}

{'name': 'Alice', 'age': 30}
{'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Software Engineer'}

In [26]:
# Modifying items in a dictionary:
my_dict['age'] = 31
print(my_dict)  # Output: {'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Software Engineer'}

{'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Software Engineer'}

In [27]:
# Deleting items from a dictionary:
# 1. Using the `del` keyword:
del my_dict['occupation']
print(my_dict)  # Output: {'name': 'Alice', 'age': 31, 'city': 'New York'}

# 2. Using the `pop()` method:
city = my_dict.pop('city')
print(my_dict)  # Output: {'name': 'Alice', 'age': 31}
print(city)  # Output: New York

# 3. Using the `popitem()` method (removes and returns an arbitrary key-value pair):
key, value = my_dict.popitem()
print(my_dict)  # Output: {'name': 'Alice'}
print(key, value)  # Output: age 31

# 4. Using the `clear()` method (removes all items):
my_dict.clear()
print(my_dict)  # Output: {}

{'name': 'Alice', 'age': 31, 'city': 'New York'}
{'name': 'Alice', 'age': 31}
New York
{'name': 'Alice'}
age 31
{}

8. Discuss the importance of dictionary keys being immutable and provide examples.

In [28]:
# Dictionary keys in Python must be immutable because they are used for hashing.
# Hashing is a process that converts an object into a unique numerical value (hash code).
# This hash code is used to quickly locate the key-value pair in the dictionary.
# If the key were mutable, its hash code could change, and the dictionary would no longer be able to find the corresponding value.

# Example of an immutable key (string):
my_dict = {"name": "Alice", "age": 30}
print(my_dict["name"])

Alice

In [29]:
# Attempting to use a mutable key (list) will raise a TypeError:
my_dict = {[1, 2]: "value"}

# Explanation:
# Lists are mutable, meaning their contents can be changed after they are created.
# If a list were used as a dictionary key, and its contents were modified, the hash code of the key would change.
# This would break the dictionary's internal structure and make it impossible to retrieve the associated value.

# Immutable objects, such as strings, numbers, and tuples, have hash codes that remain constant throughout their lifetime.
# This makes them suitable for use as dictionary keys, ensuring the integrity and efficiency of dictionary operations.

TypeError: unhashable type: 'list'